---
http_interactions:
- request:
    method: post
    uri: https://bpoint-uat.premier.com.au/evolve/service.asmx
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env='http://schemas.xmlsoap.org/soap/envelope/'
        xmlns:ns0='urn:Eve' xmlns:wsdl='urn:Eve' xmlns:xsd='http://www.w3.org/2001/XMLSchema'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'><env:Body><ns0:ProcessPayment><ns0:txnReq><ns0:OriginalTransactionNumber>1234</ns0:OriginalTransactionNumber><ns0:PaymentType>REFUND</ns0:PaymentType><ns0:Amount>1000</ns0:Amount><ns0:TxnType>INTERNET_ANONYMOUS</ns0:TxnType></ns0:txnReq><ns0:username>airtasker</ns0:username><ns0:password>Pm0o4F4Xf0</ns0:password><ns0:merchantNumber>5353109290371138</ns0:merchantNumber></ns0:ProcessPayment></env:Body></env:Envelope>"
    headers:
      content-type:
      - text/xml;charset=UTF-8
      soapaction:
      - urn:Eve/ProcessPayment
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ProcessPaymentResponse
        xmlns="urn:Eve"><ProcessPaymentResult><ResponseCode>PT_R1</ResponseCode><AuthorisationResult>Original
        transaction not found</AuthorisationResult><TransactionNumber>45906854</TransactionNumber><ReceiptNumber>45875416854</ReceiptNumber><CardType
        /></ProcessPaymentResult><response><ResponseCode>SUCCESS</ResponseCode></response></ProcessPaymentResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 06 Aug 2014 04:35:27 GMT
recorded_with: VCR 2.9.2
