---
http_interactions:
- request:
    method: post
    uri: https://bpoint-uat.premier.com.au/evolve/service.asmx
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env='http://schemas.xmlsoap.org/soap/envelope/'
        xmlns:ns0='urn:Eve' xmlns:wsdl='urn:Eve' xmlns:xsd='http://www.w3.org/2001/XMLSchema'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'><env:Body><ns0:ProcessPayment><ns0:txnReq><ns0:PaymentType>PREAUTH</ns0:PaymentType><ns0:MerchantReference>1</ns0:MerchantReference><ns0:CardNumber>5123456789012346</ns0:CardNumber><ns0:ExpiryDate>9900</ns0:ExpiryDate><ns0:CVC>123</ns0:CVC><ns0:CRN1>Longbob
        Longsen</ns0:CRN1><ns0:Amount>-1000</ns0:Amount><ns0:TxnType>INTERNET_ANONYMOUS</ns0:TxnType></ns0:txnReq><ns0:username>airtasker</ns0:username><ns0:password>Pm0o4F4Xf0</ns0:password><ns0:merchantNumber>5353109290371138</ns0:merchantNumber></ns0:ProcessPayment></env:Body></env:Envelope>"
    headers:
      content-type:
      - text/xml;charset=UTF-8
      soapaction:
      - urn:Eve/ProcessPayment
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><ProcessPaymentResponse
        xmlns="urn:Eve"><ProcessPaymentResult><ResponseCode>PT_V3</ResponseCode><AuthorisationResult>Invalid
        amount</AuthorisationResult><TransactionNumber>45906852</TransactionNumber><ReceiptNumber>45875416852</ReceiptNumber><MaskedCardNumber>512345...346</MaskedCardNumber><CardType>MC</CardType></ProcessPaymentResult><response><ResponseCode>SUCCESS</ResponseCode></response></ProcessPaymentResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 06 Aug 2014 04:35:23 GMT
recorded_with: VCR 2.9.2
