---
http_interactions:
- request:
    method: post
    uri: https://bpoint-uat.premier.com.au/evolve/service.asmx
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><env:Envelope xmlns:env='http://schemas.xmlsoap.org/soap/envelope/'
        xmlns:ns0='urn:Eve' xmlns:wsdl='urn:Eve' xmlns:xsd='http://www.w3.org/2001/XMLSchema'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'><env:Body><ns0:AddToken><ns0:tokenRequest><ns0:CardNumber></ns0:CardNumber><ns0:ExpiryDate>9910</ns0:ExpiryDate><ns0:CVC>123</ns0:CVC><ns0:CRN1>Longbob
        Longsen</ns0:CRN1></ns0:tokenRequest><ns0:username>airtasker</ns0:username><ns0:password>Pm0o4F4Xf0</ns0:password><ns0:merchantNumber>5353109290371138</ns0:merchantNumber></ns0:AddToken></env:Body></env:Envelope>"
    headers:
      content-type:
      - text/xml;charset=UTF-8
      soapaction:
      - urn:Eve/AddToken
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><AddTokenResponse
        xmlns="urn:Eve"><AddTokenResult /><response><ResponseCode>ERROR</ResponseCode><ResponseMessage>invalid
        card number: no value</ResponseMessage></response></AddTokenResponse></soap:Body></soap:Envelope>'
  recorded_at: Wed, 06 Aug 2014 04:35:33 GMT
recorded_with: VCR 2.9.2
